.home {
	width: 100%;
}

.information {
	color: white;
}

.information p {
	font-family: 'Zilla Slab Highlight', cursive;
	margin: 0;
	line-height: 1.2;
	font-size: 1.2rem;
	text-align: center;
}

.actions {
	margin-top: 1em;
}

.actions > * {
	margin: 0 0.5em;
}
