{
    "extends": "eslint-config-synacor",
    "rules": {
        "indent": ["error", 4],
        "react/jsx-wrap-multilines": ["error", { "arrow": false, "return": false, "declaration": false }]
    }
}
