.sponsors-showcase {
    display: grid;
    grid-template-columns: var(--grid-columns);
    grid-row-gap: 3rem;
    justify-items: center;
    margin: 5rem 0;

    img {
        width: auto;
        height: 8rem;
    }
}
