.sponsors-showcase {
    margin: 5rem 0;

    img {
        width: 14rem;
        height: auto;
    }

    a {
        margin: 1.5rem 0;

        #notabug img {
            width: 12rem;
        }

        #psf img {
            width: 16rem;
        }

        @media (--tablet) {
            margin: 0;
        }
    }

    &--row {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);

        align-items: center;
        justify-items: center;
    }

    @media (--tablet) {
        &--row {
            grid-template-columns: repeat(3, 1fr);

            &:first-child,
            &:last-child {
                grid-template-columns: repeat(4, 1fr);
            }

            #pythonitalia,
            #tattakki {
                grid-column-start: 2;
            }
        }
    }
}
