:root {
    --font-name: Zilla Slab, serif;

    /* theme colors */
    --primary-color: #ed4337;
    --text-color: #464444;

    /* sizes */
    --size-heading-1: 3.5rem;
    --size-heading-2: 2.5rem;

    --size-text: 2rem;

    --grid-columns: 1fr;

    /* generic colors */
    --white: #ffffff;
    --black: #000000;

    @media (--mobile) {
        --grid-columns: 1fr 1fr;
    }

    @media (--tablet) {
        --grid-columns: 1fr 1fr 1fr;
    }
}
