.home {
    section {
        padding: 5rem 0;

        .container--small {
            h1 {
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }
}
