@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:400,700|Zilla+Slab+Highlight');

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Zilla Slab', cursive;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
