@import url('https://fonts.googleapis.com/css?family=Zilla+Slab|Zilla+Slab+Highlight');

html {
	background: #ef412f;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Zilla Slab', cursive;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
