.list {
	margin: 0;
	padding: 0;

	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item {
	--padding: 2%;
	--per-row: 2;
	--width: calc(100% / var(--per-row) - var(--padding) / (var(--per-row) - 1));
	--margin-bottom: calc((100% - (var(--width) * var(--per-row))) / (var(--per-row) - 1));

	position: relative;
	width: var(--width);
	margin-bottom: var(--margin-bottom);
}

.item::before {
	content: '';
	display: inline-block;
	padding-top: 50%;
}

.item > a {
	display: block;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	padding: 2rem 0;
}

.item img {
	width: 100%;
	height: 100%;
	object-fit: contain;

	filter: saturate(0);
	will-change: filter, opacity;
    transition: 0.3s filter;
    opacity: 0.8;
}

.item:hover img {
	filter: none;
    opacity: 1;
}

@media (min-width: 700px) {
	.item {
		--per-row: 2;
		--padding: 6%;
	}
}