.two-pane {
	margin-bottom: 2em;
}

.two-pane > :last-child {
	width: 80%;

	margin: -30% auto 0;

	background: white;

	box-shadow: 0 0 4px #ccc;

	position: relative;
	z-index: 1;

	padding: 1em 0;
	text-align: center;
}

.two-pane > div {
	display: flex;

	justify-content: center;
	align-items: center;
}

@media (min-width: 600px) {
	.two-pane {
		display: flex;
		margin: 2em 0 0;
	}

	.two-pane > div {
		width: 50%;
	}

	.two-pane > :last-child {
		width: 50%;
		box-shadow: none;
		padding: 0;
		margin: 0;
	}
}
