.footer {
    background: var(--primary-color);

    .wave {
        transform: scale(-1);
    }

    &--socials {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem 0;

        a {
            width: 3rem;
            height: 3rem;
            margin: 0 1rem;

            display: inline-block;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
