.item {
	margin: 3em 0;
}

.header {
	display: flex;
}

.time {
	font-weight: bold;
	margin-bottom: 2em;
}

.title {
	font-size: 2rem;
	font-weight: bold;

	text-transform: uppercase;

	color: #ef412f;

	margin-left: -20px;
	position: relative;
	text-shadow: 0 0 3px white;
}

.author {
	font-weight: bold;
}

.avatar {
	position: relative;
	top: -20px;
	width: 100px;
	height: 100px;

	flex: 0 0 100px;
}

.avatar::before {
	content: '';
	display: block;
	width: 80px;
	height: 80px;

	border-radius: 50%;

	position: absolute;

	background-color: #ef412f;

	left: -10px;
	bottom: -10px;
}

.avatar img {
	width: 100%;
	height: 100%;

	object-fit: cover;

	border-radius: 20px / 10px;
	transform: rotate(-3deg);
}

@media (min-width: 600px) {
	.item {
		display: flex;
	}

	.time {
		margin: 0 30px 0 0;
		align-self: center;
		flex: 0 0 80px;
		font-weight: normal;
		font-size: 3rem;
	}
}

@media (min-width: 750px) {
	.description {
		margin-left: 80px;
	}

	.title {
		font-size: 2.5rem;
		max-width: 500px;
	}
}